body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.chocolate-container {
    display: flex;
    align-items: center;
}

.chocolate-label {
    flex: 1;
    margin: 0;
}

.chocolate-checkbox,
.quantity-input {
    margin-right: 10px;
}

.total-selected {
    margin-top: 10px;
    color: #333;
}

.total-price {
    margin-top: 10px;
    color: #333;
}

.add-to-cart-button {
    display: block;
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}    